# List all packages here, which should be included in the container during build time
numpy
pandas
matplotlib
seaborn
scipy
# for %matplotlib widget to work install following:
ipympl
# scikit-learn
# lightgbm
# xgboost
# keras
# for exporting html files without code
jupyterlab-nbconvert-nocode
XlsxWriter
openpyxl
mpld3
statistics
# packages for smartmeter interface and huawei-solar
pyserial
cryptography
dsmr_parser
pycryptodomex
fhem
## for huawei-solar; version 2.3.0 needs newer pymodbus version
pymodbus>=3.6.6,<3.7
backoff
